@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    padding-right: 2rem;
  }

  .icon-arrow {
    display: none;
  }
}

/* ========== */

@media screen and (max-width: 600px) {
  .bgpic {
    background-image: url(Assets/bgphone.JPG);
  }

  .logo {
    font-size: 1.5rem;
    padding-left: 2rem;
  }

  .profile-text {
    margin-top: 10rem;
    margin-left: -1rem;
  }

  .profile-text-p1 {
    font-size: 15px;
    margin-left: 2rem;
  }

  .title-profile {
    font-size: 1.5rem;
    margin-left: -1rem;
  }

  .profile-text-p2 {
    font-size: 12px;
    margin-left: 3.3rem;
  }

  .button-CV {
    font-size: 10px;
    margin-left: 2rem;
    margin-top: -0.75rem;
  }

  .cv-icon {
    height: 1rem;
  }
}
