@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    padding-right: 2rem;
  }

  .icon-arrow {
    display: none;
  }

  .icon-arrow1 {
    display: none;
  }

  .icon-arrow2 {
    display: none;
  }

  .swiper {
    width: 400px;
    height: 290px;
  }
}

@media screen and (max-width: 850px) {
  .logo {
    margin-left: 5rem;
  }

  .profile-text {
    margin-top: 20rem;
    margin-left: -8rem;
  }

  #about {
    margin-top: -5rem;
  }

  #skills {
    margin-top: -3rem;
  }

  #projects {
    margin-top: -18rem;
  }

  .swiper {
    width: 650px;
    height: 450px;
  }

  #contact {
    margin-top: -8rem;
  }

  .contact-left p {
    font-size: 1.5rem;
    margin-left: -3rem;
  }

  .social-icon-container {
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  /* ===== Profile ===== */

  .bgpic {
    background-image: url(Assets/bgphone.JPG);
  }

  .logo {
    font-size: 1.5rem;
    padding-left: 2rem;
  }

  .profile-text {
    margin-top: 10rem;
    margin-left: -1rem;
  }

  .profile-text-p1 {
    font-size: 15px;
    margin-left: 2rem;
  }

  .title-profile {
    font-size: 1.5rem;
    margin-left: -1rem;
  }

  .profile-text-p2 {
    font-size: 12px;
    margin-left: 3.3rem;
  }

  .button-CV {
    font-size: 10px;
    margin-left: 2rem;
    margin-top: -0.75rem;
  }

  .cv-icon {
    height: 1rem;
  }

  /* ===== About ===== */

  .about-title {
    font-size: 40px;
    text-align: center;
  }

  .about-details,
  .about-picture {
    flex-basis: 100%;
  }

  .about-details p {
    text-align: center;
  }

  .tab-titles {
    margin-left: 1.5rem;
  }

  /* ===== Skills ===== */

  #section {
    height: fit-content;
  }

  .skills-container {
    margin-top: -4rem;
  }

  .skills-title {
    font-size: 40px;
    text-align: center;
  }

  .skills-list {
    margin-top: 1rem;
  }

  /* ===== Projects ===== */

  .projects-container {
    margin-top: -15rem;
  }

  .swiper {
    width: 300px;
    height: 290px;
  }

  /* ===== Contact ===== */

  .contact-container {
    margin-top: 10rem;
  }

  .contact-form,
  .contact-left {
    flex-basis: 100%;
  }

  .contact-row {
    margin-top: -8rem;
  }

  .contact-left p {
    font-size: 1.5rem;
    margin-left: -1rem;
  }

  .social-icon-container {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  /* ===== Footer ===== */
  footer {
    margin-top: 13rem;
  }

  footer p {
    font-size: 13px;
  }

  .ft-links li {
    margin: 1px;
  }
}

@media screen and (max-width: 300px) {
  .hamburger-menu {
    margin-right: -1rem;
  }

  .about-title {
    font-size: 30px;
    margin-left: -1rem;
  }

  .about-details p {
    font-size: 15px;
    margin-left: -1rem;
  }

  #section {
    height: fit-content;
  }

  .skills-container {
    margin-left: -1rem;
  }

  .swiper {
    width: 230px;
  }

  .contact-left p {
    font-size: 1.2rem;
    margin-left: -1.5rem;
  }

  .social-icon {
    height: 2rem;
  }

  .social-icon-container {
    margin-left: 0.5rem;
  }
}
