@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    padding-right: 2rem;
  }

  .icon-arrow {
    display: none;
  }

  .icon-arrow1 {
    display: none;
  }

  .icon-arrow2 {
    display: none;
  }
}

/* ========== */

@media screen and (max-width: 1200px) {
  .swiper {
    width: 400px;
    height: 290px;
  }
}

/* ========== */

@media screen and (max-width: 600px) {
  /* ===== Profile ===== */

  .bgpic {
    background-image: url(Assets/bgphone.JPG);
  }

  .logo {
    font-size: 1.5rem;
    padding-left: 2rem;
  }

  .profile-text {
    margin-top: 10rem;
    margin-left: -1rem;
  }

  .profile-text-p1 {
    font-size: 15px;
    margin-left: 2rem;
  }

  .title-profile {
    font-size: 1.5rem;
    margin-left: -1rem;
  }

  .profile-text-p2 {
    font-size: 12px;
    margin-left: 3.3rem;
  }

  .button-CV {
    font-size: 10px;
    margin-left: 2rem;
    margin-top: -0.75rem;
  }

  .cv-icon {
    height: 1rem;
  }

  /* ===== About ===== */

  .about-title {
    font-size: 40px;
    text-align: center;
  }

  .about-details,
  .about-picture {
    flex-basis: 100%;
  }

  .about-details p {
    text-align: center;
  }

  .tab-titles {
    margin-left: 1.5rem;
  }

  /* ===== Skills ===== */

  #section {
    height: fit-content;
  }

  .skills-container {
    margin-top: -4rem;
  }

  .skills-title {
    font-size: 40px;
    text-align: center;
  }

  .skills-list {
    margin-top: 1rem;
  }

  /* ===== Projects ===== */

  .projects-container {
    margin-top: -15rem;
  }

  .swiper {
    width: 300px;
    height: 290px;
  }

}
