/* ===== Fonts ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap");

/* ========== */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fbeeff;
  color: black;
}

.bgpic {
  width: 100%;
  height: 100vh;
  background-image: url(Assets/Background.JPG);
  background-size: cover;
  background-position: center;
}

/* ===== Navigation ===== */

.logo {
  font-size: 2rem;
  font-family: Pacifico;
  color: #691883;
}

.nav-container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #691883;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover {
  color: #b148d2;
}

nav ul li a:hover::after {
  width: 100%;
}

/* ===== Profile ===== */

#profile {
  padding: 10px 10%;
  margin-top: 18%;
}

.profile-text {
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-text p {
  font-weight: 600;
}

.profile-text-p1 {
  font-size: 25px;
  margin-left: 16rem;
}

.profile-text-p2 {
  font-size: 20px;
  margin-left: 17rem;
  margin-bottom: 1rem;
  color: gray;
  text-align: center;
}

.title-profile {
  font-size: 3rem;
  text-align: center;
  font-family: Pacifico;
  color: #691883;
  margin-left: 8rem;
}

.button-CV {
  display: inline-block;
  background-color: #b148d2;
  color: white;
  padding: 1%;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 15px;
  margin-left: 15rem;
}

.cv-icon {
  cursor: pointer;
  height: 1.5rem;
  vertical-align: middle;
}

.button-CV:hover {
  background-color: #e79aff;
}

/* ===== About ===== */

#about {
  padding: 80px 0;
}

.about-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-picture {
  flex-basis: 37%;
  padding-left: 50px;
}

.about-picture img {
  width: 100%;
  border-radius: 15px;
}

.about-details {
  flex-basis: 60%;
}

.about-title {
  color: #691883;
  font-size: 60px;
  font-weight: 600;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #691883;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #691883;
  font-size: 14px;
  font-weight: 500;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* ===== Projects ===== */

.project-subtitle {
  text-align: center;
  align-self: center;
  font-weight: 600;
  margin-bottom: 1rem;
  color: gray;
}

.project-text {
  font-size: 3rem;
  text-align: center;
  color: #691883;
}

.project-content {
  padding: 0 1.5rem;
  text-align: center;
  align-items: center;
}

.project-img {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.project-title {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.project-description {
  margin-bottom: 0.75rem;
  text-align: center;
}

.swiper {
  margin-top: 3rem;
  width: 900px;
  height: 600px;
}
