/* ===== Fonts ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap");

/* ========== */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fbeeff;
  color: black;
}

.bgpic {
  width: 100%;
  height: 100vh;
  background-image: url(Assets/Background.JPG);
  background-size: cover;
  background-position: center;
}

/* ===== Navigation ===== */

.logo {
  font-size: 2rem;
  font-family: Pacifico;
  color: #691883;
}

.nav-container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #691883;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover {
  color: #b148d2;
}

nav ul li a:hover::after {
  width: 100%;
}

/* ===== Navigation (Hamburger) ===== */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.hamburger-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fbeeff;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.hamburger-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.hamburger-links li {
  list-style: none;
}

.hamburger-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* ===== Profile ===== */

#profile {
  padding: 10px 10%;
  margin-top: 18%;
}

.profile-text {
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-text p {
  font-weight: 600;
}

.profile-text-p1 {
  font-size: 25px;
  margin-left: 16rem;
}

.profile-text-p2 {
  font-size: 20px;
  margin-left: 17rem;
  margin-bottom: 1rem;
  color: gray;
  text-align: center;
}

.title-profile {
  font-size: 3rem;
  text-align: center;
  font-family: Pacifico;
  color: #691883;
  margin-left: 8rem;
}

.button-CV {
  display: inline-block;
  background-color: #b148d2;
  color: white;
  padding: 1%;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 15px;
  margin-left: 15rem;
}

.cv-icon {
  cursor: pointer;
  height: 1.5rem;
  vertical-align: middle;
}

.button-CV:hover {
  background-color: #e79aff;
}

/* ===== About ===== */

#about {
  padding: 80px 0;
}

.about-container {
  padding: 10px 10%;
}

.about-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-picture {
  flex-basis: 37%;
}

.about-picture img {
  width: 100%;
  border-radius: 15px;
}

.about-details {
  flex-basis: 60%;
}

.about-title {
  color: #691883;
  font-size: 60px;
  font-weight: 600;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #691883;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #691883;
  font-size: 14px;
  font-weight: 500;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

.icon-arrow {
  cursor: pointer;
  height: 2rem;
  position: absolute;
  right: 1rem;
  bottom: -45rem;
}

/* ===== Skills ===== */

#skills {
  padding: 30px 0;
  margin-bottom: 20rem;
}

.skills-container {
  padding: 10px 10%;
}

.skills-title {
  color: #691883;
  font-size: 3rem;
  font-weight: 600;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.skills-list div {
  background: #f3ccff;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-right: 10px;
  border-radius: 10px;
}

.skills-list div:hover {
  background-color: #e79aff;
  transform: translateY(-10px);
}

.skills-list div i {
  font-size: 40px;
  margin-bottom: 15px;
}

.skills-list div h2 {
  font-size: 30px;
  color: #691883;
  font-weight: 500;
  margin-bottom: 13px;
}

.skills-list div li {
  font-size: 15px;
}

.icon-arrow1 {
  cursor: pointer;
  height: 2rem;
  position: absolute;
  right: 1rem;
  bottom: -93rem;
}

/* ===== Projects ===== */
.projects-container {
  padding: 10px 10%;
}

.project-subtitle {
  text-align: center;
  align-self: center;
  font-weight: 600;
  margin-bottom: 1rem;
  color: gray;
}

.project-text {
  font-size: 3rem;
  text-align: center;
  color: #691883;
}

.project-content {
  padding: 0 1.5rem;
  text-align: center;
  align-items: center;
}

.project-title {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.project-description {
  margin-bottom: 0.75rem;
  text-align: center;
}

.swiper {
  margin-top: 3rem;
  width: 900px;
  height: 520px;
}

.swiper-slide {
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  background: #f3ccff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  border-radius: 10px;
  margin-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  width: 100%;
  object-fit: cover;
}

.swiper-pagination {
  display: block;
  text-align: center;
  margin-top: 1rem;
  height: 60vh;
}

.icon-arrow2 {
  cursor: pointer;
  height: 2rem;
  position: absolute;
  right: 1rem;
  bottom: -147rem;
}

/* ===== Contact ===== */

#contact {
  margin-top: 12rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-container {
  padding: 10px 10%;
}

.contact-text {
  text-align: center;
  align-self: center;
  font-weight: 600;
  margin-bottom: 1rem;
  color: gray;
}

.contact-title {
  font-size: 3rem;
  text-align: center;
  color: #691883;
}

.contact-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-icon-container {
  margin-left: 5rem;
}

.social-icon {
  cursor: pointer;
  height: 2.5rem;
}

.contact-left {
  flex-basis: 35%;
  margin-left: 8rem;
  margin-top: 10rem;
}

.contact-left p {
  font-family: Pacifico;
  color: #691883;
  font-size: 2rem;
}

.contact-form {
  flex-basis: 50%;
}

.contact-form form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #f3ccff;
  color: black;
  padding: 15px;
  margin: 15px 0;
  font-size: 18px;
  border-radius: 5px;
}

.button-msg {
  background-color: #691883;
  color: white;
  padding: 1%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  margin-top: -1rem;
  border: none;
}

.button-msg:hover {
  background-color: #e79aff;
}

/* ===== Footer ===== */

footer {
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
}

footer p {
  text-align: center;
}

.ft-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

.ft-links li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

.ft-links li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.ft-links li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #691883;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.ft-links li a:hover {
  color: #b148d2;
}

.ft-links li a:hover::after {
  width: 100%;
}
